.page-header.dmpd
  %a.back{href: dmpd_appointment_set_records_path}
    = fa_icon 'chevron-left'
  = title 'Appointment'
.controller-actions
  %a.btn.btn-danger{href: dmpd_appointment_set_record_path(@appointment_set_record), data: {method: :delete}}
    = fa_icon 'trash-o'
    &nbsp;
    Delete