- title "Sign In"
.banner
  .container
    .floater
      .pull-right
        %h3.inverted.login
          %a{:href => "/auth/key"}
            Sign in
            %img{:alt => "Key_logo", :src => (asset_path 'key_logo.png')}/
      %h3.sub Tandem Ministries
      %br.hidden-phone/
      %h1 Making Disciples Everywhere
