<h1>Ministry Services Portal</h1>
<p>Please choose your preferred <br> method of logging in:</p>

<div id="login_links">
  <a href="/auth/relay" class="loginlink relay"><img alt="Relay_logo" src="<%= asset_path 'relay_logo.png' %>"></a>
  &nbsp;
  &nbsp;
  <a href="/auth/key" class="loginlink relay"><img alt="Key_logo" src="<%= asset_path 'key_logo.png' %>"></a>
</div>
