- title "Sign In"
#sign_in
  .header
    .container
      .row
        .col-sm-6.col-sm-centered
          %h3
            = image_tag 'logo.png', class: 'logo', width: 50
            Staff Portal
            %small Admin made simple
        .col-sm-6.text-right
          %a.btn.btn-primary.btn-lg{href: "/auth/key", "data-no-turbolinks" => true}
            Sign in with The Key
  .hero
    .container
      %h1 Spend less time administrating.
      %h4 And more time on the mission field.
      %a.btn.btn-primary.btn-lg.hidden-xs{href: "/auth/key", "data-no-turbolinks" => true}
        Get Started
        = fa_icon 'chevron-right'
      %br/
      %a.btn.btn-primary.btn-lg.visible-xs-inline-block{href: "/auth/key", "data-no-turbolinks" => true}
        Sign in with The Key
        = fa_icon 'chevron-right'
  .footer
    .container
      Powered by
      %a{href: 'http://www.cru.org'} Cru
      .pull-right
        CCCI © Copyright
        = Time.now.strftime('%Y')