- title "MSP | Sign In"
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: root_path}
        .hidden-phone
          Ministry Services
          %span.muted Portal
        .visible-phone
          msp
      .pull-right
        %h5 msp.tandem.org.nz
%section.intro-box
  .container.text-center
    %h3
      %span.muted.hidden-phone Noticed some changes?
      We've made msp mobile friendly.
.banner
  .container
    .floater
      .pull-right
        %h3.inverted.login
          %a{:href => "/auth/key"}
            Sign in
            %img{:alt => "Key_logo", :src => (asset_path 'key_logo.png')}/
      %h3.sub Tandem Ministries
      %br.hidden-phone/
      %h1 Making Disciples Everywhere
