- title "Sign In"
#sign_in
  = image_tag 'logo.png'
  .form.text-center
    .page-header
      %h4
        Ministry Services Portal
    .body
      %h3
        %a{:href => "/auth/key"}
          Sign in
          %img{:alt => "Key_logo", :src => (asset_path 'key_logo.png')}/
  #backtoblog
    = link_to 'â† Back to Tandem', 'http://www.tandem.org.nz'