= form_for :dump, :url=>{:action=>"import_csv"}, :html => { :multipart => true } do |f|
  %fieldset{:class => "inputs"}
    %legend
      %span
        CSV File Upload
    %ol
      %li
        %label{:for => "dump_file"}
          Select a CSV File
        = f.file_field :file
  = submit_tag 'Submit'
  %br
  %br
  %fieldset{:class => "inputs"}
    %legend
      %span
        Example CSV File
    %table{:id => "csv"}
      %thead
        %tr
          %th
            code
          %th
            type
          %th
            definition
      %tbody
        %tr
          %td
            0
          %th
            IN
          %td
            Fixed Assets

