<h1>Ministry Services Portal</h1>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
<%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<p>Please select an available service.</p>

<div id="login_links">
  <a href="/staff/bootcamp" class="loginlink relay"><img alt="Relay_logo" src="<%= asset_path 'bootcamp_logo.png' %>"></a>
  <!--
  <% if :authenticate_admin_user! %>
  <a href="/admin" class="loginlink relay"><img alt="Relay_logo" src="<%= asset_path 'bootcamp_logo.png' %>"></a>
  <% end %>
-->
</div>
