<h1>Ministry Services Portal</h1>
<p>Please select an available service.</p>

<div id="login_links">
  <a href="/staff/bootcamp" class="loginlink relay"><img alt="Relay_logo" src="<%= asset_path 'bootcamp_logo.png' %>"></a>
</div>
