- title "DMPD Weekly Support Raising Development Chart"
%section.intro-box.margin-80.hidden-print
  .container
    .row
      .span12
        %h3.pull-right.hidden-phone= current_user.name
        %ul.breadcrumb
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li
            %a{:href => staff_dmpd_root_path} DMPD
            %span.divider /
          %li
            %a{:href => staff_dmpd_stats_root_path} WCS
            %span.divider /
          %li.active
            %a{:href => staff_dmpd_stats_support_raising_development_index_path} Weekly Calling Chart
            %span.divider /
          %li.active
            +
        %span.arrow.hidden-phone
.white
  .container
    %h3.page-header
      Weekly Calling Chart
    - if @available_weeks.blank?
      .well.text-center
        %p You're all up to date.
        %a.btn.btn-primary{href: staff_dmpd_stats_support_raising_development_index_path}
          %i.icon-angle-left &nbsp;
          Back
    - else
      = semantic_form_for @support_raising_development, url: staff_dmpd_stats_support_raising_development_index_path, builder: FormtasticBootstrap::FormBuilder do |f|
        = render :partial => "form", :locals => { :f => f }
