.text-center
  %h1.cheers_icon
    = fa_stacked_icon "thumbs-up", base: "circle-thin"
  %h3 Thumbs Up!
  %h5
    Your statistics have been submitted successfully,
    %br
    Now go take a much deserved break.