- title "MSP | DMPD Appointment Set Record"
%section.intro-box.margin-80.hidden-print
  .container
    .row
      .span12
        %h3.pull-right.hidden-phone= current_user.name
        %ul.breadcrumb
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li
            %a{:href => staff_dmpd_root_path} DMPD
            %span.divider /
          %li
            %a{:href => staff_dmpd_stats_root_path} WCS
            %span.divider /
          %li.active
            Appointment Set Record
        %span.arrow.hidden-phone
.white
  .container
    %h3.page-header
      Appointment Set Record
      .pull-right
        %a.btn.btn-primary{href: staff_dmpd_stats_root_path}
          %i.icon-home &nbsp;
          WCS
        %a.btn{href: staff_dmpd_stats_contact_card_box_index_path}
          %i.icon-user &nbsp;
          Contact Card Box
        %a.btn{href: staff_dmpd_stats_support_raising_development_index_path}
          %i.icon-phone &nbsp;
          Weekly Calling Chart
        %a.btn.btn-info{href: new_staff_dmpd_stats_appointment_set_record_path}
          %i.icon-plus
            Add Data

    - unless @appointment_set_record.empty?
      = table_for @appointment_set_record, :html => {:class => "table table-striped"} do
        - column :name, :html => { :th => { :class => "gray" }, :td => { :class => "gray" }}
        - column :date_set
        - column :date_of_appointment, title: "Appt Date"
        - column :gift_date
        - column :gift_confirmed_date, title: "Confirmed"
        - column :pretty_amount, title: "Amount"
        - column :number_of_contacts_received, title: "# Contacts"
        - column :asked_for_contacts, title: "Asked for Contacts" do |bool|
          - if bool then "Yes" else "No" end
        - column :thank_you_posted, title: "TY Posted" do |bool|
          - if bool then "Yes" else "No" end
        - column :title => "Actions" do |asr|
          - link_to("Edit", edit_staff_dmpd_stats_appointment_set_record_path(asr) )
    - else
      .well.text-center
        %p No Statistics Entered.
        %a.btn.btn-primary{href: new_staff_dmpd_stats_appointment_set_record_path}
          %i.icon-plus
            Add Data
