.page-header.dmpd
  %a.back{href: dmpd_stats_appointment_set_record_index_path}
    = fa_icon 'chevron-left'
  = title "Appointment Set Record"
= semantic_form_for @appointment_set_record, url: dmpd_stats_appointment_set_record_index_path, builder: FormtasticBootstrap::FormBuilder do |f|
  = render :partial => "form", :locals => { :f => f }
