.page-header
  = title "Contact Card Box"
- if @available_weeks.blank?
  .well.text-center
    %p You're all up to date.
    %a.btn.btn-primary{href: dmpd_stats_contact_card_box_index_path}
      %i.icon-angle-left &nbsp;
      Back
- else
  = semantic_form_for @contact_card_box, url: dmpd_stats_contact_card_box_index_path, builder: FormtasticBootstrap::FormBuilder do |f|
    = render :partial => "form", :locals => { :f => f }
