- title "DMPD Weekly Support Raising Development Chart"
.white
  .container
    %h3.page-header
      Contact Card Box
    - if @available_weeks.blank?
      .well.text-center
        %p You're all up to date.
        %a.btn.btn-primary{href: staff_dmpd_stats_contact_card_box_index_path}
          %i.icon-angle-left &nbsp;
          Back
    - else
      = semantic_form_for @contact_card_box, url: staff_dmpd_stats_contact_card_box_index_path, builder: FormtasticBootstrap::FormBuilder do |f|
        = render :partial => "form", :locals => { :f => f }
