// Vendor
@import 'bootstrap';
@import 'formtastic-bootstrap';
@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'font-awesome';
@import 'compass/css3';
@import 'datepicker';
@import 'simple-slider';
@import 'summernote';

// Internal
@import 'accounts';
@import 'bootcamp';

body {
  background: #f1f1f1;
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
}

// Sidebar
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #4a5363;
  .rank {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 20px 0;
    background-color: #364051;
    color: #fff;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    h5 {
      position: absolute;
      left: 30px;
      top: 20px;
      z-index: 10;
      opacity: 0.5;
    }
  }
  .brand {
    color: #29a6f7;
    background: #364051;
    border-bottom: 1px solid #5d6676;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    height: 80px;
    line-height: 42px;
  }
  ul.nav {
    padding-top: 10px;
    li {
      a {
        @include transition-property(color);
        @include transition-duration(0.3s);

        color: #a4acb7;
        font-weight: bold;
        .fa {
          margin-right: 10px;
        }
        &:hover {
          color: #fff;
          background: transparent;
        }
      }
      &.active > a {
        color: #fff;
        background: transparent;
      }
    }
    ul.sub {
      margin-left: 20px;
      margin-top: 0;
      padding-top: 0;
      border-left: 3px solid #a4acb7;
      li a {
        font-weight: normal;
        padding: 5px 15px;
      }
    }
  }
}

// List Group
.list-group-item {
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

// Topbar
nav.navbar-fixed-top {
  height: 80px;
  left: 200px;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  background: #f3f3f3;
  .navbar-header {
    font-size: 14px;
    padding: 20px 30px;
    line-height: 42px;
    color: #c3c3c3;
    font-weight: normal;
    height: 80px;
    ul.breadcrumb {
      padding: 0;
      margin: 0;
      background: transparent;
      text-transform: uppercase;
      li {
        color: #000;
      }
    }
  }
  .navbar-nav.navbar-right {
    margin-right: 0;
    li.dropdown {
      a.dropdown-toggle {
        font-size: 14px;
        padding: 20px 30px;
        line-height: 42px;
        color: #000;
        font-weight: normal;
        height: 80px;
        &:hover {
          background: transparent;
          color: #29a6f7;
        }
      }
      &.open {
        a.dropdown-toggle {
          background: transparent;
          color: #29a6f7;
        }
      }
    }
  }
}


// Avatar
.avatar img {
  border-radius: 100%;
  border: 1px solid #777;
  margin-right: 10px;
}

.stream {
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  .title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    padding: 20px 10px;
    font-size: 12px;
  }
  .item {
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
      .row {
        margin: 0;
      }
  }
}

// Main Content Area
.content {
  position: fixed;
  left: 200px;
  right: 250px;
  top: 80px;
  bottom: 0;
  padding: 20px 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  .page-header {
    margin: 0;
    background-color: #474747;
    border-left: 10px #cccccc solid;
    padding: 15px 20px;
    color: #fff;
    margin-bottom: 10px;
    height: 78px;
    h1 {
      font-size: 22px;
      line-height: 50px;
      margin: 0;
      float: left;
    }
    &.account {
      border-left-color: #f78c2a;
    }
    &.pac {
      border-left-color: #1d9bfc;
    }
    &.statistics {
      border-left-color: #34fee6;
    }
    &.dmpd {
      border-left-color: #f32370;
    }
  }
}

// Login
#sign_in {
  width: 320px;
  padding: 7% 0 0;
  margin: auto;
  a {
    text-decoration: none;
    color: #999;
    @include transition-property(color);
    @include transition-duration(0.3s);
    &:hover {
      color: #2ea2cc;
    }
  }
  .form {
    margin-left: 0;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    .body {
      padding: 10px 20px;
    }
    .page-header {
      margin-top:0;
      margin-bottom:0;
      padding: 20px;
      border-bottom: 1px solid #5d6676;
      color: #29a6f7;
      background: #364051;
    }
    h3 {
      padding: 26px 24px 46px;
    }
  }
  #backtoblog {
    font-size: 13px;
    padding: 0 24px;
    margin: 16px 0 0;
  }
}

// Footer
footer {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

// Panel
.panel {
  border-radius: 0;
}

// GMA
iframe {
  &#gma_staff_reports, &#gma_measurements {
    border: 1px solid #dddddd;
  }
}

.frame {
  padding-top: 50px;
  background-color: #fff;
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    line-height: 30px;
  }
  .list-group {
    margin-bottom: 0;
    .list-group-item {
      border-width: 0 0 1px 0;
      margin-bottom: 0;
      &:last-child {
        border-width: 0;
      }
    }
  }
  .pad-10 {
    padding: 10px;
  }
}

form.gma_staff_report {
  label {
    text-transform: uppercase;
    color: gray;
  }
  .form-group {
    margin-bottom: 0;
  }
  .info {
    margin-top: 15px;
  }
  .form-wrapper {
    position: relative;
    display: block;
    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      font-size: 20px;
      top: 15px;
      right: 10px;
      content: "\f078";
      color: #ccc;
    }
    &.closed:after {
      content: "\f053";
      z-index: -10;
    }
  }
  .form-control {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
    height: auto;
    cursor: pointer;
    padding-left: 10px;
    &:focus {
      border: 1px solid #ccc;
      background-color: #fff;
      cursor: text;
    }
  }
  .graph {
    height: 120px;
    width: 100%;
    position: absolute;
    bottom:-19px;
    right:0;
    z-index: -10;
  }
  .list-group-item {
    position: relative;
    background-color: transparent;
  }
  .number {
    font-size: 30px;
    font-weight: bold;
  }
}
.cheers_icon {
    font-size: 100px;
    color: #29a6f7;
}

#nprogress .bar {
  height: 3px;
}

// dashboard
.dashboard {
  a:hover {
    text-decoration: none;
  }
  .box {
    background-color: #474747;
    border-top: 10px #cccccc solid;
    padding: 20px;
    color: #fff;
    text-align: center;
    min-height: 292px;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
    .title {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
    }
    .stat {
      font-weight: 100;
      font-size: 40px;
      padding: 40px 0;
      i {
        font-size: 70px;
        color: #585858;
      }
    }
    &.account {
      border-top-color: #f78c2a;
    }
    &.pac {
      border-top-color: #1d9bfc;
    }
    &.statistics {
      border-top-color: #34fee6;
    }
    &.dmpd {
      border-top-color: #f32370;
    }
    &.empty {
      min-height: 282px;
      border: 10px #ccc dashed;
      background: #fff;
      color: #ccc;
      .stat {
        i {
          color: #ccc;
        }
      }
    }
  }
}

.navbar-alternative {
  display: none;
  .navbar-toggle {
    border: 0;
  }
}

@media (max-width: 1280px) {
  .sidebar, .stream {
    display: none;
  }
  .content {
    left: 0;
    right: 0;
    top: 130px;
  }
  nav.navbar-fixed-top {
    left: 0;
  }
  .navbar-alternative {
    display: block;
    background-color: #364051;
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    border: 0;
    border-radius: 0;
    z-index: 100;
    .navbar-brand {
      color: #29a6f7;
      font-weight: bold;
    }
    .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }
    .navbar-nav > .active > a, .navbar-nav > .open > a {
      background-color: #4a5363;
      &:hover {
        background-color: #4a5363;
      }
    }
    .navbar-nav > li > a {
      color: #a4acb7;
    }
  }
}

@media (max-width: 767px) {
  body {
    background-color: #fff;
  }
  .zopim {
    display: none;
  }
  .content {
    position: static;
    padding: 15px;
    .page-header {
      margin: -15px;
      margin-bottom: 15px;
    }
  }

  .navbar-alternative {
    top: 0;
    .container-fluid {
      padding: 0 15px;
    }
  }
  nav.navbar-fixed-top {
    position: static;
    height: 42px;
    margin-top: 52px;
    .navbar-header {
      padding: 0 15px;
      height: 42px;
    }
  }

  .dashboard {
    .box {
      min-height: 0;
      margin-bottom: 10px;
      &.empty {
        min-height: 0;
        border-width: 2px;
        line-height: 21px;
        .stat {
          line-height: 21px;
          text-transform: uppercase;
          font-size: 15px;
        }
      }
      i {
        display: none;
      }
      .title {
        float: left;
        text-align: left;
        .text-muted {
          display: block;
        }
      }
      .stat {
        padding: 0;
        float: right;
        font-size: 20px;
        line-height: 42px;
      }
    }
  }
}