// Vendor
@import 'bootstrap';
@import 'formtastic-bootstrap';
@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'font-awesome';
@import 'compass/css3';
@import 'datepicker';
@import 'simple-slider';
@import 'summernote';

// Internal
@import 'accounts';
@import 'bootcamp';

body {
  background: #fff;
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
}

body.signed_out {
  background-size: cover;
}

// Sidebar
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #4a5363;
  .rank {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 20px 0;
    background-color: #364051;
    color: #fff;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    h5 {
      position: absolute;
      left: 30px;
      top: 20px;
      z-index: 10;
      opacity: 0.5;
    }
  }
  .brand {
    color: #29a6f7;
    background: #364051;
    border-bottom: 1px solid #5d6676;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    height: 80px;
    line-height: 42px;
  }
  ul.nav {
    padding-top: 10px;
    li {
      a {
        @include transition-property(color);
        @include transition-duration(0.3s);

        color: #a4acb7;
        font-weight: bold;
        .fa {
          margin-right: 10px;
        }
        &:hover {
          color: #fff;
          background: transparent;
        }
      }
      &.active > a {
        color: #fff;
        background: transparent;
      }
    }
    ul.sub {
      margin-left: 20px;
      margin-top: 0;
      padding-top: 0;
      border-left: 3px solid #a4acb7;
      li a {
        font-weight: normal;
        padding: 5px 15px;
      }
    }
  }
}

// List Group
.list-group-item {
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

// Topbar
nav.navbar-fixed-top {
  height: 80px;
  left: 200px;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  background: #f3f3f3;
  .navbar-header {
    font-size: 14px;
    padding: 20px 30px;
    line-height: 42px;
    color: #c3c3c3;
    font-weight: normal;
    height: 80px;
    ul.breadcrumb {
      padding: 0;
      margin: 0;
      background: transparent;
      text-transform: uppercase;
      li {
        color: #000;
      }
    }
  }
  .navbar-nav.navbar-right {
    margin-right: 0;
    li.dropdown {
      a.dropdown-toggle {
        font-size: 14px;
        padding: 20px 30px;
        line-height: 42px;
        color: #000;
        font-weight: normal;
        height: 80px;
        &:hover {
          background: transparent;
          color: #29a6f7;
        }
      }
      &.open {
        a.dropdown-toggle {
          background: transparent;
          color: #29a6f7;
        }
      }
    }
  }
}


// Avatar
.avatar img {
  border-radius: 100%;
  border: 1px solid #777;
  margin-right: 10px;
}

.stream {
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  .title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    padding: 20px 10px;
    font-size: 12px;
  }
  .item {
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
      .row {
        margin: 0;
      }
  }
}

.well {
  border-radius: 0;
  background-color: #fff;
}

// Main Content Area
.content {
  position: fixed;
  left: 200px;
  right: 250px;
  top: 80px;
  bottom: 0;
  padding: 20px 30px;
  overflow: auto;
  &.no-stream {
    right: 0;
  }
  .page-header {
    margin: 0;
    background-color: #474747;
    color: #fff;
    margin-bottom: 20px;
    height: 78px;
    position: relative;
    a.back {
      background-color: #575757;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      font-size: 20px;
      line-height: 80px;
      color: #fff;
      padding: 0 10px;
      width: 50px;
      text-align: center;
    }
    h1 {
      font-weight: 100;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 50px;
      margin: 0;
      float: left;
      padding: 15px 20px;
      margin-left: 50px;
    }
    &.account {
      background: #d24726; /* Old browsers */
      background: -moz-linear-gradient(left,  #d24726 0%, #dc572e 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d24726), color-stop(100%,#dc572e)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #d24726 0%,#dc572e 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #d24726 0%,#dc572e 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #d24726 0%,#dc572e 100%); /* IE10+ */
      background: linear-gradient(to right,  #d24726 0%,#dc572e 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24726', endColorstr='#dc572e',GradientType=1 ); /* IE6-9 */
      a.back {
        background-color: #e7512d;
      }
    }
    &.pac {
      background: #2672ec; /* Old browsers */
      background: -moz-linear-gradient(left,  #2672ec 0%, #2e8def 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2672ec), color-stop(100%,#2e8def)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #2672ec 0%,#2e8def 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #2672ec 0%,#2e8def 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #2672ec 0%,#2e8def 100%); /* IE10+ */
      background: linear-gradient(to right,  #2672ec 0%,#2e8def 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2672ec', endColorstr='#2e8def',GradientType=1 ); /* IE6-9 */
      a.back {
        background-color: #4083ef;
      }
    }
    &.statistics {
      background: #00a0b1; /* Old browsers */
      background: -moz-linear-gradient(left,  #00a0b1 0%, #7db9e8 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a0b1), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #00a0b1 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #00a0b1 0%,#7db9e8 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #00a0b1 0%,#7db9e8 100%); /* IE10+ */
      background: linear-gradient(to right,  #00a0b1 0%,#7db9e8 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0b1', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
      a.back {
        background-color: #09c1d4;
      }
    }
    &.dmpd {
      background: #008a00; /* Old browsers */
      background: -moz-linear-gradient(left,  #008a00 0%, #00a500 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008a00), color-stop(100%,#00a500)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #008a00 0%,#00a500 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #008a00 0%,#00a500 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #008a00 0%,#00a500 100%); /* IE10+ */
      background: linear-gradient(to right,  #008a00 0%,#00a500 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#00a500',GradientType=1 ); /* IE6-9 */
      a.back {
        background-color: #03a803;
      }
    }
  }
}

// Login
#sign_in {
  font-size: 20px;
  .header {
    background-color: #3EBFAC;
    min-height: 125px;
    padding-top: 30px;
    h3 {
      text-transform: uppercase;
      line-height: 20px;
      margin-top: -5px;
      color: #fff;
      padding-top: 10px;
      small {
        text-transform: none;
        color: #fff;
        display: block;
        margin-top: 5px;
      }
      img.logo {
        float: left;
        margin-right: 10px;
        margin-top: -5px;
      }
    }
    a.btn-primary {
      img {
        width: 20px;
      }
      color: #fff;
      background-color: #85D2C4;
      border-color: #85D2C4;
      &:hover {
        background-color: #85D2C4;
        border-color: #85D2C4;
      }
    }
  }
  .hero {
    background: image-url('background.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 250px;
    height: 623px;
    text-align: center;
    color: #fff;
    a.btn-primary {
      min-width: 150px;
      color: #fff;
      background-color: #3EBFAC;
      border-color: #3EBFAC;
      &:hover {
        background-color: #85D2C4;
        border-color: #85D2C4;
      }
    }
  }
  .footer {
    padding: 20px;
    font-size: 13px;
    color: #999;
    a:link, a:visited {
      color: #85D2C4;
    }
  }
}

// Footer
footer {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

// Panel
.panel {
  border-radius: 0;
}

// GMA
iframe {
  &#gma_staff_reports, &#gma_measurements {
    border: 1px solid #dddddd;
  }
}

.frame {
  padding-top: 50px;
  background-color: #fff;
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    line-height: 30px;
  }
  .list-group {
    margin-bottom: 0;
    .list-group-item {
      border-width: 0 0 1px 0;
      margin-bottom: 0;
      &:last-child {
        border-width: 0;
      }
    }
  }
  .pad-10 {
    padding: 10px;
  }
}

form.gma_staff_report {
  label {
    text-transform: uppercase;
    color: gray;
  }
  .form-group {
    margin-bottom: 0;
  }
  .info {
    margin-top: 15px;
  }
  .form-wrapper {
    position: relative;
    display: block;
    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      font-size: 20px;
      top: 15px;
      right: 10px;
      content: "\f078";
      color: #ccc;
    }
    &.closed:after {
      content: "\f053";
      z-index: -10;
    }
  }
  .form-control {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
    height: auto;
    cursor: pointer;
    padding-left: 10px;
    &:focus {
      border: 1px solid #ccc;
      background-color: #fff;
      cursor: text;
    }
  }
  .graph {
    height: 120px;
    width: 100%;
    position: absolute;
    bottom:-19px;
    right:0;
    z-index: -10;
  }
  .list-group-item {
    position: relative;
    background-color: transparent;
  }
  .number {
    font-size: 30px;
    font-weight: bold;
  }
}
.cheers_icon {
    font-size: 100px;
    color: #29a6f7;
}

#nprogress .bar {
  height: 3px;
}

// dashboard
.dashboard {
  a:hover {
    text-decoration: none;
  }
  .box {
    background-color: #f4f4f4;
    padding: 20px;
    color: #444;
    text-align: center;
    min-height: 282px;
    margin-bottom: 20px;
    position: relative;
    .border {
      background: #ccc;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 5px;
    }
    .title {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      .text-muted {
        color: #444;
        font-weight: lighter;
      }
    }
    .text {
      margin-bottom: 40px;
    }
    .stat {
      font-weight: 100;
      font-size: 40px;
      padding: 40px 0;
      height: 155px;
      i {
        font-size: 70px;
        color: #aaa;
      }
    }
    .go {
      position: absolute;
      padding: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: right;
      font-size: 15px;
      color: #000;
      background-color: #fff;
      border: 2px #eee solid;
      border-top:0;
      text-transform: uppercase;
    }
    &.account {
      .go {
        color: #d24726;
      }
      .border {
        background: #d24726; /* Old browsers */
        background: -moz-linear-gradient(left,  #d24726 0%, #dc572e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d24726), color-stop(100%,#dc572e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #d24726 0%,#dc572e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #d24726 0%,#dc572e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #d24726 0%,#dc572e 100%); /* IE10+ */
        background: linear-gradient(to right,  #d24726 0%,#dc572e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24726', endColorstr='#dc572e',GradientType=1 ); /* IE6-9 */
      }
    }
    &.pac {
      .go {
        color: #2672ec;
      }
      .border {
        background: #2672ec; /* Old browsers */
        background: -moz-linear-gradient(left,  #2672ec 0%, #2e8def 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2672ec), color-stop(100%,#2e8def)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #2672ec 0%,#2e8def 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #2672ec 0%,#2e8def 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #2672ec 0%,#2e8def 100%); /* IE10+ */
        background: linear-gradient(to right,  #2672ec 0%,#2e8def 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2672ec', endColorstr='#2e8def',GradientType=1 ); /* IE6-9 */
      }
    }
    &.statistics {
      .go {
        color: #00a0b1;
      }
      .border {
        background: #00a0b1; /* Old browsers */
        background: -moz-linear-gradient(left,  #00a0b1 0%, #7db9e8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a0b1), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #00a0b1 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #00a0b1 0%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #00a0b1 0%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to right,  #00a0b1 0%,#7db9e8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0b1', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
      }
    }
    &.dmpd {
      .go {
        color: #008a00;
      }
      .border {
        background: #008a00; /* Old browsers */
        background: -moz-linear-gradient(left,  #008a00 0%, #00a500 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008a00), color-stop(100%,#00a500)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #008a00 0%,#00a500 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #008a00 0%,#00a500 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #008a00 0%,#00a500 100%); /* IE10+ */
        background: linear-gradient(to right,  #008a00 0%,#00a500 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#00a500',GradientType=1 ); /* IE6-9 */
      }
    }
    &.empty {
      border: 3px #ccc dashed;
      background: #fff;
      color: #ccc;
      .border {
        background-color: transparent;
      }
      .stat {
        padding-bottom: 30px;
        i {
          color: #ccc;
        }
      }
    }
  }
}

.navbar-alternative {
  display: none;
  .navbar-toggle {
    border: 0;
  }
}
@media (max-width: 1280px) {
  .sidebar, .stream {
    display: none;
  }
  .content {
    left: 0;
    right: 0;
    top: 130px;
  }
  nav.navbar-fixed-top {
    left: 0;
  }
  .navbar-alternative {
    display: block;
    background-color: #364051;
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    border: 0;
    border-radius: 0;
    z-index: 100;
    .navbar-brand {
      color: #29a6f7;
      font-weight: bold;
    }
    .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }
    .navbar-nav > .active > a, .navbar-nav > .open > a {
      background-color: #4a5363;
      &:hover {
        background-color: #4a5363;
      }
    }
    .navbar-nav > li > a {
      color: #a4acb7;
    }
  }
}

@media (max-width: 767px) {
  #sign_in {
    .hero {
      padding-top: 50px;
      height: auto;
      position: absolute;
      left: 0;
      top: 127px;
      bottom: 60px;
      right: 0;
    }
    .header {
      padding-bottom: 20px;
      .col-sm-centered {
        width: 260px;
        margin: 0 auto;
        padding-bottom: 20px;
      }
      .text-right {
        text-align: center;
      }
      .btn {
        display: none;
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #accounts, #records {
    margin: -15px -15px 0 -15px;
  }
  .zopim {
    display: none;
  }
  .content {
    position: static;
    padding: 15px;
    .page-header {
      margin: -15px;
      margin-bottom: 15px;
    }
  }

  .navbar-alternative {
    top: 0;
    .container-fluid {
      padding: 0 15px;
    }
  }
  nav.navbar-fixed-top {
    position: static;
    height: 42px;
    margin-top: 52px;
    .navbar-header {
      padding: 0 15px;
      height: 42px;
    }
  }

  .dashboard {
    .box {
      min-height: 0;
      margin-bottom: 10px;
      &.empty {
        min-height: 0;
        line-height: 21px;
        .stat {
          padding-bottom: 0;
          line-height: 21px;
          text-transform: uppercase;
          font-size: 15px;
        }
      }
      i {
        display: none;
      }
      .border {
        bottom:0;
        height: auto;
        right: auto;
        width: 5px;
      }
      .title {
        float: left;
        text-align: left;
        .text-muted {
          display: block;
        }
      }
      .stat {
        padding: 0;
        float: right;
        font-size: 20px;
        line-height: 42px;
        height: auto;
      }
      .text {
        text-align: left;
        float: left;
        margin-bottom: 0;
      }
      .go {
        display: none;
      }
      &.taskset {
        .title {
          float: none;
          margin-bottom: 10px;
        }
        .stat {
          float: none;
        }
        .text {
          float: none;
          text-align: center;
        }
        i {
          display: inline-block;
        }
      }
    }
  }
}