.form-control {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 6px;
  &:focus {
    box-shadow: none;
    border-color: $primary-light-color;
  }
}
.disabled-form {
  .form-control {
    border: 0;
    border-bottom: 1px dashed #ccc;
  }
}
.has-error .form-control {
  box-shadow: none;
  &:focus {
    box-shadow: none;
    border-color: $primary-light-color;
  }
}
.form-title {
  text-transform: uppercase;
  color: #777;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  font-size: 15px;
}
.form-actions {
  margin-top: -20px;
  padding: 20px;
  text-align: right;
  background-color: #eee;
  .back {
    color: #444;
    margin-right: 10px;
  }
  .scopes {
    background-color: #fafafa;
    margin: 20px -20px -20px -20px;
    padding: 10px 20px;
    text-align: left;
    border: 1px #eee solid;
    font-size: 12px;
    line-height: 24px;
    color: #444;
    text-transform: uppercase;
    .btn-group {
      text-transform: none;
      border: 1px transparent solid;
      .btn {
        font-weight: bold;
        &:active {
          box-shadow: none;
        }
        &:hover{
          color: $primary-light-color;
        }
      }
      button.dropdown-toggle {
        color: $primary-color;
        background-color: transparent;
        padding-left: 0;
      }
      &.open {
        border: 1px $primary-light-color solid;
        .btn {
          box-shadow: none;
          color: $primary-light-color;
        }
      }
      &.btn-active {
        border: 1px $primary-color solid;
      }
    }
  }
}
.input-group-addon {
  border-radius: 0;
}
.control-label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
}
#contact_new_church_input {
  margin-top: 30px;
}
#gmaps-canvas {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.empty-state {
  color: #444;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-light-color;
    border-color: $primary-light-color;
  }
}
.ui-autocomplete {
  border: 1px solid $primary-light-color;
  border-top: 0;
}
.ui-menu .ui-menu-item {
  font-family: "proxima-nova",sans-serif;
  font-size: 13px;
  color: #777;
  &.ui-state-focus {
    background: $primary-light-color;
    border-color: $primary-light-color;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .form-actions {
    margin: -15px -15px 0  -15px;
    .search {
      margin-right: 120px;
    }
    .scopes {
      text-align: center;
      .btn-group {
        position: static;
        .dropdown-menu {
          top: 90px;
          left: 0;
          right: 0;
          border-radius: 0;
        }
      }
    }
  }
}