// Place all the styles related to the auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.staff_portal {
  header h1 {
    display:none;
  }
  .pagewidth {
    width: 482px;
  }
  .headercontent {
    text-align: center;
    height: 210px;
  }
  #logo {
    margin-top: 38px;
  }
  #main {
    font-family: 'NillandRegular', Arial;
    border: 1px solid #CFCFCF;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.63),inset 0 0 21px rgba(0, 0, 0, 0.14);
    text-align: center;
    background: #FAFAFA;
    min-height: 90px;
    position: relative;
    margin-top: -65px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.35em;
    padding-bottom: 35px;
  }
  .loginlink {
    border-radius: 30px;
    border: 1px solid #fff;
    box-shadow: 0 0 9px rgba(0,0,0,0.44) inset,0 0 5px rgba(0,0,0,0.51);
    background-image: linear-gradient(bottom, #9e9e9e 0%, #b0b0b0 14%, #f5f5f5 100%);
    background-image: -o-linear-gradient(bottom, #9e9e9e 0%, #b0b0b0 14%, #f5f5f5 100%);
    background-image: -moz-linear-gradient(bottom, #9e9e9e 0%, #b0b0b0 14%, #f5f5f5 100%);
    background-image: -webkit-linear-gradient(bottom, #9e9e9e 0%, #b0b0b0 14%, #f5f5f5 100%);
    background-image: -ms-linear-gradient(bottom, #9e9e9e 0%, #b0b0b0 14%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9e9e9e), color-stop(0.14, #b0b0b0), color-stop(1, #f5f5f5));
    height: 100px;
    line-height: 100px;
    display: inline-block;
    padding: 0 20px;
    width: 140px;
    vertical-align: middle;
  }
  .loginlink img { vertical-align: middle }
  .loginlink.relay img { margin-top: -5px }

  a:link:after, a:visited:after {    
    content: "";     
  }
}
