%meta{content: 'width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no', name: 'viewport'}/
%meta{name: 'apple-mobile-web-app-title', content:'Staff Portal'}/
%meta{name: 'apple-mobile-web-app-capable', content:'yes'}/
%meta{name: 'apple-mobile-web-app-status-bar-style', content: 'black'}/
%meta{name: 'mobile-web-app-capable', content:'yes'}/
%link{rel:'shortcut icon', sizes:'196x196', href: asset_url('ico-196x196.png')}
%link{href: asset_url('ico-57x57.png'), rel: 'apple-touch-icon', sizes: '57x57'}/
%link{href: asset_url('ico-72x72.png'), rel: 'apple-touch-icon', sizes: '72x72'}/
%link{href: asset_url('ico-114x114.png'), rel: 'apple-touch-icon', sizes: '114x114'}/
%link{href: asset_url('ico-144x144.png'), rel: 'apple-touch-icon', sizes: '144x144'}/

/ iPhone SPLASHSCREEN
%link{href: asset_url('startup-320x460.png'), media: '(device-width: 320px) and (orientation: portrait)', rel: 'apple-touch-startup-image'}/
/ iPhone (Retina) SPLASHSCREEN
%link{href: asset_url('startup-640x920.png'), media: '(device-width: 320px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)', rel: 'apple-touch-startup-image'}/
/ iPad (portrait) SPLASHSCREEN
%link{href: asset_url('startup-768x1004.png'), media: '(device-width: 768px) and (orientation: portrait)', rel: 'apple-touch-startup-image'}/
/ iPad (landscape) SPLASHSCREEN
%link{href: asset_url('startup-1024x748.png'), media: '(device-width: 1024px) and (orientation: landscape)', rel: 'apple-touch-startup-image'}/
/ iPad (Retina, portrait) SPLASHSCREEN
%link{href: asset_url('startup-1536x2008.png'), media: '(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)', rel: 'apple-touch-startup-image'}/
/ iPad (Retina, landscape) SPLASHSCREEN
%link{href: asset_url('startup-2048x1496.png'), media: '(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)', rel: 'apple-touch-startup-image'}/