= form_for :dump, :url=>{:action=>"import_csv"}, :html => { :multipart => true }, builder: FormtasticBootstrap::FormBuilder do |f|
  %fieldset{:class => "inputs"}
    %legend
      %span
        CSV File Upload
    %ol
      %li
        %label{:for => "dump_file"}
          Select a CSV File
        = f.file_field :file
  = submit_tag 'Submit'
  %br
  %br
  %fieldset{:class => "inputs"}
    %legend
      %span
        Example CSV File
    %table{:id => "csv"}
      %thead
        %tr
          %th
            code*
          %th
            name*
          %th
            state*
          %th
            effect*
          %th
            salary
          %th
            cumulative
      %tbody
        %tr
          %td
            01550
          %th
            Fixed Assets
          %td
            income/expense/current_asset/current_liability
          %td
            no_effect/add/subtract
          %td
            true/false
          %td
            true/false

