<div class="right"><img alt="Accounts" src="<%= asset_path 'accounts_logo.png' %>"></div>
<h1>&nbsp;</h1>
<nav>
  <div class="right"><%= collection_select("summary", "currency", Currency.all, :code, :name, {:selected => current_user.currency_code}) %></div>
  <a href="/staff/">MSP</a> &gt; Accounts
</nav>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
<%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<%= table_for(current_user.accounts) do |t|
      t.data do
        t.cell :code
        t.cell :name
        t.cell(:balance) { |p| acct = p.records.order('date DESC, id desc').first unless p.records.nil?
                            if acct.nil?
                              number_to_currency 0
                            else
                              @currency_rate = current_user.currency.currency_rates.where(:month => acct.month).first
                              @vehicle_advance = p.records.joins(:type).where("types.code" => "1225").sum(:amount)
                              @stock = p.records.joins(:type).where("types.code" => "1350").sum(:amount)
                              if @currency_rate.blank?
                                number_to_currency (acct.balance - @stock - @vehicle_advance)
                              else
                                number_to_currency (acct.balance - @stock - @vehicle_advance) * @currency_rate.rate
                              end
                            end
                          }
        t.cell(:last_updated) { |p| acct = p.records.order('date DESC, id desc').first unless p.records.nil?
                                if acct.nil?
                                  Time.now.strftime('%d %b %Y')
                                else
                                  acct.date.strftime('%d %b %Y')
                                end
        }
        if current_user.currency_code != 'NZD'
          t.cell(:exchange_rate) { |p| acct = p.records.order('date DESC, id desc').first unless p.records.nil?
                            if acct.nil?
                              number_to_currency 0
                            else
                              @currency_rate = current_user.currency.currency_rates.where(:month => acct.month).first
                              number_to_currency @currency_rate.rate
                            end
                          }
        end
        t.cell(:summary, :heading => "", :cell_html => {:style => 'text-align:right'} ) {|p| link_to("Summary", "/staff/accounts/#{p.id}") + " &nbsp; ".html_safe + link_to("Transactions", "/staff/accounts/#{p.id}/transactions") + " &nbsp; ".html_safe }
      end
end %>
